.navbar-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 4px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: .5em 2em;
  position: relative;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  .logo-link {
    font-size: .9rem;
    color: var(--color-white);
    letter-spacing: 2px;
    line-height: 1.2;
    transition: all .3s ease;

    h1 {
      font-size: 1.3em;
      font-weight: bold;
    }

    h2 {
      font-style: italic;
      text-transform: uppercase;
    }

    &:hover {
      transform: translateY(-2px);

      h1 {
        color: var(--theme-color);
      }
    }
  }

  a {
    font-size: 1.1rem;
    &:hover {
      color: var(--color-blue-light);
    }
  }
}